---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
  name: unilinks.k8s.streamnative.io
spec:
  group: k8s.streamnative.io
  names:
    kind: UniLink
    listKind: UniLinkList
    plural: unilinks
    singular: unilink
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              consumerGroup:
                properties:
                  excludedGroups:
                    type: string
                  groups:
                    type: string
                  syncGroupIntervalInSeconds:
                    default: 60
                    format: int32
                    minimum: 0
                    type: integer
                required:
                - groups
                - syncGroupIntervalInSeconds
                type: object
              custom:
                additionalProperties:
                  type: string
                type: object
              destUrsaClusterRef:
                type: string
              excludedTopics:
                type: string
              image:
                type: string
              imagePullPolicy:
                type: string
              linkingMode:
                default: stateful
                enum:
                - stateful
                - stateless
                type: string
              pod:
                properties:
                  imagePullSecrets:
                    items:
                      properties:
                        name:
                          default: ""
                          type: string
                      type: object
                      x-kubernetes-map-type: atomic
                    type: array
                  labels:
                    additionalProperties:
                      type: string
                    nullable: true
                    type: object
                  nodeSelector:
                    additionalProperties:
                      type: string
                    nullable: true
                    type: object
                    x-kubernetes-map-type: atomic
                  resources:
                    properties:
                      claims:
                        items:
                          properties:
                            name:
                              type: string
                          required:
                          - name
                          type: object
                        type: array
                        x-kubernetes-list-map-keys:
                        - name
                        x-kubernetes-list-type: map
                      limits:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        type: object
                      requests:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        type: object
                    type: object
                  tolerations:
                    items:
                      properties:
                        effect:
                          type: string
                        key:
                          type: string
                        operator:
                          type: string
                        tolerationSeconds:
                          format: int64
                          type: integer
                        value:
                          type: string
                      type: object
                    nullable: true
                    type: array
                type: object
              refreshTopicsIntervalInSeconds:
                default: 60
                format: int32
                minimum: 0
                type: integer
              replicas:
                default: 1
                format: int32
                minimum: 0
                type: integer
              sourceKafkaCluster:
                properties:
                  saslMechanism:
                    type: string
                  saslSecretRef:
                    type: string
                  serverUrl:
                    type: string
                  useTls:
                    type: boolean
                required:
                - saslMechanism
                - saslSecretRef
                - serverUrl
                - useTls
                type: object
              topicMappings:
                items:
                  properties:
                    destinationPrefix:
                      type: string
                    topics:
                      type: string
                  required:
                  - topics
                  type: object
                type: array
              topicRenameMap:
                additionalProperties:
                  type: string
                type: object
            required:
            - consumerGroup
            - destUrsaClusterRef
            - refreshTopicsIntervalInSeconds
            - sourceKafkaCluster
            - topicMappings
            type: object
          status:
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              observedGeneration:
                format: int64
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
