---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
  name: pfsqlclusters.k8s.streamnative.io
spec:
  group: k8s.streamnative.io
  names:
    kind: PFSQLCluster
    listKind: PFSQLClusterList
    plural: pfsqlclusters
    singular: pfsqlcluster
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              gateway:
                properties:
                  auth:
                    properties:
                      oauth2:
                        properties:
                          audience:
                            type: string
                          authURL:
                            type: string
                          issuerUrl:
                            type: string
                          subjectClaim:
                            type: string
                        required:
                        - audience
                        - authURL
                        - issuerUrl
                        - subjectClaim
                        type: object
                      provider:
                        type: string
                    required:
                    - provider
                    type: object
                  image:
                    type: string
                  imagePullPolicy:
                    type: string
                type: object
              hostname:
                type: string
              ingressConfig:
                properties:
                  path:
                    type: string
                  tls:
                    properties:
                      enabled:
                        type: boolean
                      secretName:
                        type: string
                    required:
                    - enabled
                    - secretName
                    type: object
                type: object
              istio:
                properties:
                  authRules:
                    items:
                      properties:
                        fromSource:
                          items:
                            properties:
                              principals:
                                items:
                                  type: string
                                type: array
                            type: object
                          type: array
                        toOperation:
                          items:
                            properties:
                              ports:
                                items:
                                  type: string
                                type: array
                            type: object
                          type: array
                      type: object
                    type: array
                  dataplaneMode:
                    default: sidecar
                    enum:
                    - sidecar
                    - ambient
                    type: string
                  enabled:
                    type: boolean
                  gateway:
                    properties:
                      advertisedDomain:
                        type: string
                      create:
                        type: boolean
                      gateways:
                        items:
                          type: string
                        nullable: true
                        type: array
                      key:
                        default: istio-generatedid
                        type: string
                      route:
                        properties:
                          topologyAware:
                            properties:
                              key:
                                type: string
                              selector:
                                additionalProperties:
                                  type: string
                                type: object
                              subDomain:
                                type: string
                            required:
                            - key
                            type: object
                          useWildcardDNS:
                            type: boolean
                        type: object
                      selector:
                        additionalProperties:
                          type: string
                        nullable: true
                        type: object
                      tls:
                        properties:
                          certSecretName:
                            type: string
                          mode:
                            type: string
                          subjectAltNames:
                            items:
                              type: string
                            type: array
                          trustCertsEnabled:
                            type: boolean
                        type: object
                    type: object
                  gateways:
                    items:
                      properties:
                        advertisedDomain:
                          type: string
                        create:
                          type: boolean
                        gateways:
                          items:
                            type: string
                          nullable: true
                          type: array
                        key:
                          default: istio-generatedid
                          type: string
                        route:
                          properties:
                            topologyAware:
                              properties:
                                key:
                                  type: string
                                selector:
                                  additionalProperties:
                                    type: string
                                  type: object
                                subDomain:
                                  type: string
                              required:
                              - key
                              type: object
                            useWildcardDNS:
                              type: boolean
                          type: object
                        selector:
                          additionalProperties:
                            type: string
                          nullable: true
                          type: object
                        tls:
                          properties:
                            certSecretName:
                              type: string
                            mode:
                              type: string
                            subjectAltNames:
                              items:
                                type: string
                              type: array
                            trustCertsEnabled:
                              type: boolean
                          type: object
                      type: object
                    maxItems: 10
                    type: array
                    x-kubernetes-list-map-keys:
                    - key
                    x-kubernetes-list-type: map
                  mtls:
                    properties:
                      mode:
                        default: strict
                        type: string
                    type: object
                  revision:
                    default: default
                    type: string
                  trustDomain:
                    type: string
                type: object
              labels:
                additionalProperties:
                  type: string
                type: object
              pod:
                properties:
                  imagePullSecrets:
                    items:
                      properties:
                        name:
                          default: ""
                          type: string
                      type: object
                      x-kubernetes-map-type: atomic
                    type: array
                  labels:
                    additionalProperties:
                      type: string
                    nullable: true
                    type: object
                  nodeSelector:
                    additionalProperties:
                      type: string
                    nullable: true
                    type: object
                    x-kubernetes-map-type: atomic
                  resources:
                    properties:
                      claims:
                        items:
                          properties:
                            name:
                              type: string
                          required:
                          - name
                          type: object
                        type: array
                        x-kubernetes-list-map-keys:
                        - name
                        x-kubernetes-list-type: map
                      limits:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        type: object
                      requests:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        type: object
                    type: object
                  tolerations:
                    items:
                      properties:
                        effect:
                          type: string
                        key:
                          type: string
                        operator:
                          type: string
                        tolerationSeconds:
                          format: int64
                          type: integer
                        value:
                          type: string
                      type: object
                    nullable: true
                    type: array
                type: object
              pulsarClusterConfig:
                properties:
                  auth:
                    properties:
                      oauth2:
                        properties:
                          audience:
                            type: string
                          issuerUrl:
                            type: string
                          keySecretName:
                            type: string
                          scope:
                            type: string
                        required:
                        - audience
                        - issuerUrl
                        - keySecretName
                        - scope
                        type: object
                      provider:
                        type: string
                    required:
                    - provider
                    type: object
                  builtinFunctions:
                    items:
                      properties:
                        bindStatements:
                          items:
                            type: string
                          type: array
                        className:
                          type: string
                        customRuntimeOptions:
                          additionalProperties:
                            type: string
                          type: object
                        description:
                          type: string
                        filename:
                          type: string
                        managed:
                          type: boolean
                        name:
                          type: string
                        packageFileUrl:
                          type: string
                        packageUrl:
                          type: string
                      required:
                      - bindStatements
                      - className
                      - filename
                      - name
                      - packageUrl
                      type: object
                    type: array
                  metadataCompactionThreshold:
                    type: string
                  metadataTopic:
                    type: string
                  metadataTopicSubscriptionName:
                    type: string
                  serviceUrl:
                    type: string
                  stateStorageEnabled:
                    type: boolean
                  tls:
                    properties:
                      tlsAllowInsecureConnection:
                        type: boolean
                      tlsCertificateFilePath:
                        type: string
                      tlsEnableHostnameVerification:
                        type: boolean
                      tlsKeyFilePath:
                        type: string
                      tlsRequireTrustedClientCertOnConnect:
                        type: boolean
                    type: object
                  webServiceUrl:
                    type: string
                required:
                - serviceUrl
                - webServiceUrl
                type: object
              replicas:
                default: 1
                format: int32
                type: integer
              serviceAccountName:
                type: string
            type: object
          status:
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                format: int64
                type: integer
            required:
            - observedGeneration
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
