---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
  name: apikeys.k8s.streamnative.io
spec:
  group: k8s.streamnative.io
  names:
    kind: ApiKeys
    listKind: ApiKeysList
    plural: apikeys
    singular: apikeys
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              brokerServiceUrl:
                type: string
              config:
                properties:
                  authenticator:
                    properties:
                      acceptedAudience:
                        type: string
                      enabled:
                        type: boolean
                      issuers:
                        items:
                          type: string
                        type: array
                      jwksFetchInterval:
                        format: int64
                        type: integer
                    type: object
                  backend:
                    properties:
                      pulsarClient:
                        additionalProperties:
                          type: string
                        type: object
                      pulsarTopic:
                        type: string
                      retryInterval:
                        format: int64
                        type: integer
                    type: object
                  customAuthenticators:
                    items:
                      properties:
                        audience:
                          type: string
                        issuer:
                          type: string
                      type: object
                    type: array
                  loadCustomOIDCConfig:
                    type: boolean
                  server:
                    properties:
                      audience:
                        type: string
                      claimsToCopy:
                        items:
                          type: string
                        type: array
                      currentKid:
                        type: string
                      logLevel:
                        enum:
                        - panic
                        - fatal
                        - error
                        - warn
                        - info
                        - debug
                        - trace
                        type: string
                      maxKeys:
                        default: 10000
                        type: integer
                      maxRevoked:
                        default: 10000
                        type: integer
                    type: object
                type: object
              hostname:
                type: string
              image:
                type: string
              imagePullPolicy:
                type: string
              issuerPathPrefix:
                type: string
              istio:
                properties:
                  authRules:
                    items:
                      properties:
                        fromSource:
                          items:
                            properties:
                              principals:
                                items:
                                  type: string
                                type: array
                            type: object
                          type: array
                        toOperation:
                          items:
                            properties:
                              ports:
                                items:
                                  type: string
                                type: array
                            type: object
                          type: array
                      type: object
                    type: array
                  enabled:
                    type: boolean
                  gateway:
                    properties:
                      advertisedDomain:
                        type: string
                      create:
                        type: boolean
                      gateways:
                        items:
                          type: string
                        nullable: true
                        type: array
                      key:
                        default: istio-generatedid
                        type: string
                      route:
                        properties:
                          topologyAware:
                            properties:
                              key:
                                type: string
                              selector:
                                additionalProperties:
                                  type: string
                                type: object
                              subDomain:
                                type: string
                            required:
                            - key
                            type: object
                          useWildcardDNS:
                            type: boolean
                        type: object
                      selector:
                        additionalProperties:
                          type: string
                        nullable: true
                        type: object
                      tls:
                        properties:
                          certSecretName:
                            type: string
                          mode:
                            type: string
                          subjectAltNames:
                            items:
                              type: string
                            type: array
                          trustCertsEnabled:
                            type: boolean
                        type: object
                    type: object
                  gateways:
                    items:
                      properties:
                        advertisedDomain:
                          type: string
                        create:
                          type: boolean
                        gateways:
                          items:
                            type: string
                          nullable: true
                          type: array
                        key:
                          default: istio-generatedid
                          type: string
                        route:
                          properties:
                            topologyAware:
                              properties:
                                key:
                                  type: string
                                selector:
                                  additionalProperties:
                                    type: string
                                  type: object
                                subDomain:
                                  type: string
                              required:
                              - key
                              type: object
                            useWildcardDNS:
                              type: boolean
                          type: object
                        selector:
                          additionalProperties:
                            type: string
                          nullable: true
                          type: object
                        tls:
                          properties:
                            certSecretName:
                              type: string
                            mode:
                              type: string
                            subjectAltNames:
                              items:
                                type: string
                              type: array
                            trustCertsEnabled:
                              type: boolean
                          type: object
                      type: object
                    maxItems: 10
                    type: array
                    x-kubernetes-list-map-keys:
                    - key
                    x-kubernetes-list-type: map
                  mtls:
                    properties:
                      mode:
                        default: strict
                        type: string
                    type: object
                  revision:
                    default: default
                    type: string
                  trustDomain:
                    type: string
                type: object
              oxiaServiceUrl:
                type: string
              pod:
                properties:
                  imagePullSecrets:
                    items:
                      properties:
                        name:
                          default: ""
                          type: string
                      type: object
                      x-kubernetes-map-type: atomic
                    type: array
                  labels:
                    additionalProperties:
                      type: string
                    nullable: true
                    type: object
                  nodeSelector:
                    additionalProperties:
                      type: string
                    nullable: true
                    type: object
                    x-kubernetes-map-type: atomic
                  resources:
                    properties:
                      claims:
                        items:
                          properties:
                            name:
                              type: string
                          required:
                          - name
                          type: object
                        type: array
                        x-kubernetes-list-map-keys:
                        - name
                        x-kubernetes-list-type: map
                      limits:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        type: object
                      requests:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        type: object
                    type: object
                  tolerations:
                    items:
                      properties:
                        effect:
                          type: string
                        key:
                          type: string
                        operator:
                          type: string
                        tolerationSeconds:
                          format: int64
                          type: integer
                        value:
                          type: string
                      type: object
                    nullable: true
                    type: array
                type: object
              replicas:
                default: 2
                format: int32
                minimum: 0
                type: integer
            type: object
          status:
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              customAuthenticators:
                items:
                  properties:
                    audience:
                      type: string
                    issuer:
                      type: string
                  type: object
                type: array
              observedGeneration:
                format: int64
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
